<!-- 
 File Name:         ocam_ros.launch
 Date Created:      2018/11/17
 Date Modified:     2019/12/11
 
 Author:            Adam Caccavale
 Contact:           adam.w.caccavale@gmail.com
 
 Description:       ROS launch file for reading images from ocam cameras with settable parameters
-->

<!-- These are the default cropping configurations from Ocam:
resolution:
0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360
frame_rate:
USB3.0 - 1280x960@45fps, 1280x720@60fps, 640x480@80fps, 320x240@160fps
USB2.0 - 1280x960@22.5fps, 1280x720@30fps, 640x480@80fps, 320x240@160fps
-->

<!-- To only change resolution (instead of cropping), leave resolution=0, and specify the image_width and image_height parameters in launch file. If these parameters are left blank, no resizing will take place.  -->

<launch>
  <arg name="resolution"        default="0" />
  <arg name="frame_rate"        default="5" />
  <arg name="exposure"          default="150" />
  <arg name="gain"              default="50" />
  <arg name="wb_blue"           default="200" />
  <arg name="wb_red"            default="160" />
  <arg name="auto_exposure"     default="false" />
  <arg name="show_image"        default="false" />
  <arg name="camera_frame_id"   default="camera" />
  <arg name="param_file"        default="ocam/param/camera.yaml" />
  <arg name="image_width"       default="640" />
  <arg name="image_height"      default="480" />

  <node pkg="ocam_msl" type="ocam" name="ocam" output="screen">
    <param name="resolution"        value="$(arg resolution)"/>
    <param name="frame_rate"        value="$(arg frame_rate)"/>
    <param name="exposure"          value="$(arg exposure)"/>
    <param name="gain"              value="$(arg gain)"/>
    <param name="wb_blue"           value="$(arg wb_blue)"/>
    <param name="wb_red"            value="$(arg wb_red)"/>
    <param name="auto_exposure"     value="$(arg auto_exposure)"/>
    <param name="show_image"        value="$(arg show_image)"/>
    <param name="camera_frame_id"   value="$(arg camera_frame_id)"/>
    <param name="param_file"        value="$(arg param_file)"/>
    <param name="image_width"       value="$(arg image_width)"/>
    <param name="image_height"      value="$(arg image_height)"/>
  </node>
</launch>

